.item-quantity {
  display: flex;
  width: 90%;
  margin: 1rem 1rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
  border-radius: 10px;
  height: 3rem;
  .quantity {
    font-weight: 700;
  }
  .quantity-button {
    background-color: hsl(223, 64%, 98%);
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}
