.light-box {
  display: none;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  .content {
    display: flex;
    flex-direction: column;
  }
  .close-button {
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    align-self: flex-end;
    &:hover {
      filter: invert(57%) sepia(53%) saturate(2251%) hue-rotate(345deg)
        brightness(99%) contrast(104%);
      cursor: pointer;
    }
  }
  &.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
