.header {
  top: 0;
  position: fixed;
  width: 100vw;
  background-color: white;
  .header-content {
    width: 100%;
    padding: 3% 0;
    display: flex;
    justify-content: space-between;
    .header-group {
      display: flex;
      margin: 0 4%;

      .header-item {
        padding: 1%;
        margin: 0 1%;
      }
    }
    .group2 {
      width: 40%;
      justify-content: flex-end;
    }
    .hamburger {
      display: flex;
      flex-direction: column;
      width: 20px;
      justify-content: space-between;
      .line {
        background-color: black;
        width: 20px;
        height: 3px;
      }
    }
    .icon {
      height: 20px;
      margin: 0 4%;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;

      li {
        a {
          text-decoration: none;
        }
      }
    }
    .desktop {
      display: none;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    li {
      a {
        text-decoration: none;
      }
    }
  }
}
