.header {
  top: 0;
  position: fixed;
  width: 100vw;
  background-color: white;
  height: 3rem;
  z-index: 10;
  .header-content {
    width: 100%;
    height: 100%;
    padding: 3% 0;
    display: flex;
    justify-content: space-between;
    .header-group {
      display: flex;
      margin: 0 1rem;
      gap: 1rem;
      .desktop {
        display: none;
      }

      .header-item {
        padding: 1%;
        margin: 0 1%;
      }
    }
    .group2 {
      width: 20%;

      gap: 1rem;
      button {
        background-color: white;
        border: none;
        .cart-icon {
          position: relative;
        }

        .cart-quantity {
          background-color: orange;
          float: right;
          position: absolute;
          color: white;
          font-size: 0.7rem;
          border-radius: 10px;
          height: 1rem;
          z-index: 3;
          width: 15px;
          vertical-align: top;
          margin-left: 1rem;
          margin-top: -1.75rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .hamburger {
      display: flex;
      flex-direction: column;
      width: 20px;
      justify-content: space-between;
      .line {
        background-color: black;
        width: 20px;
        height: 3px;
      }
    }
    .icon {
      height: 20px;
      margin: 0 4%;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;

      li {
        a {
          text-decoration: none;
        }
      }
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    li {
      a {
        text-decoration: none;
      }
    }
  }
  .mobile.link-list-container {
    position: fixed;
    display: flex;
    .mobile.link-list {
      z-index: 11;
      background-color: white;
      margin: 0;
      padding-top: 1rem;
      font-weight: 700;
      padding-left: 1rem;
      height: 100vh;
      width: 60vw;

      z-index: 3;
      gap: 1rem;
      li {
        a {
          color: black;
        }
      }
    }

    .blackout {
      background-color: black;
      opacity: 0.5;
      width: 40vw;
      height: 100vh;
      z-index: 11;

      justify-self: flex-end;
    }
  }
}
@media screen and (min-width: 800px) {
  .header {
    height: 5rem;
    border-bottom: solid hsl(223, 64%, 98%) 1px;
    width: 60vw;

    .header-content {
      padding: 0;
      .desktop {
        display: flex;
      }

      .header-group {
        margin: 0;
        align-items: center;
        .mobile {
          display: none;
        }
        .logo {
          margin: 0 0 0 0;
        }
        .link-list {
          padding: 0;
          display: flex;
          justify-content: space-between;
          width: 80%;
          align-items: center;
          li {
            padding: 1.8rem 0;

            a {
              color: hsl(220, 14%, 75%);
              padding: 1.8rem 0;
              &:hover {
                color: black;
                border-bottom: solid 3px orange;
              }
            }
          }
        }
      }
      .icon {
        height: 30px;
        margin: 0;
      }
      .cart-icon {
        height: 20px;
      }
      .avatar {
        height: 50px;
        border-radius: 50%;
        &:hover {
          border: 1px solid orange;
        }
      }
      .group2 {
        justify-content: space-between;
        width: 13%;
      }
    }
  }
}
